<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список зарезервированных ресурсов</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Список зарезервированных ресурсов</h1>
    <div class="mb-3">
        <a href="/reservations/reserve" class="btn btn-primary">Зарезервировать ресурсы</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Ресурс</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}">1</td>
            <td th:text="${reservation.user.name}">Имя пользователя</td>
            <td th:text="${reservation.resource.name}">Название ресурса</td>
            <td th:text="${#dates.format(reservation.periodStart, 'yyyy-MM-dd')}">2023-06-23</td>
            <td th:text="${#dates.format(reservation.periodEnd, 'yyyy-MM-dd')}">2023-06-24</td>
            <td>
                <form action="/reservations/release" method="post">
                    <input type="hidden" name="reservationId" th:value="${reservation.id}">
                    <button type="submit" class="btn btn-danger">Освободить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
